.panda-noman-bg-warning {
    background-color: #FF589B;
}

.panda-noman-bg-info {
    background-color: #FEEAE9;
}

.panda-noman-bg-danger {
    background-color: #FF9C35;
}

.panda-noman-bg-success {
    background-color: #FF589B;
}

.panda-noman-bg-primary {
    background-color: #4289FF;
}